---
layout: post
---

<a href="#" class="image featured"><img src="assets/images/uofr.jpg" alt="" /></a>
<h3>Welcome to the First-Year Resource Hub!</h3><br>
<p>
	This is a platform for first-year students at the University of Rochester because due to the pandemic, 
	it makes it extra difficult for first-years to find the overwhelming amount of resources. Although this platform 
	is dedicated for them, any student at the University of Rochester can also use this platform for their advantage! 
</p>